.header__lang-link {
  color: white;
  text-decoration: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  box-sizing: border-box;
}

.header__lang-link:hover {
  opacity: .8;
  transition: opacity;
}

@media screen and (max-width: 380px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
