.page {
  display: flex;
  flex-flow: column;
  width: 100%;
  border: none;
  background-color: #2A2C2F;
  color: white;
  margin: 0 auto;
  padding: 28px 0 24px;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  justify-items: center;
}

@media screen and (min-width: 1300) {
  .page {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding: 16px 0 24px;
  }
}
