.place__paragraph {
  max-width: 100%;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: justify;
}

.place__paragraph:first-of-type {
  margin-bottom: 24px;
}

@media screen and (max-width: 900px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
