.cover {
  display: flex;
  justify-content: center;
  align-content: center;
  width: calc(100% - 48px * 2);
  max-width: 1280px;
  min-height: 740px;
  position: relative;
  box-sizing: border-box;
  margin: 0 48px;
  padding: 0;
  background-image: url(../../sprint-3-images/sprint-3-images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 0;
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}
