.footer {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-between;
  margin-top: 94px;
}

@media screen and (max-width: 400px) {
  .footer {
    flex-flow: column;
    margin-top: 64px;
  }
}
